* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

body {
    background-color: #f1f1f1;
}

#div-form-login {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#div-form-login form {
    margin: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
}

#div-form-login form input {
    font-size: 1.2rem;
    margin: 5px 0 5px 0;
}

#div-form-login form input:focus-visible {
    outline: rgba(53, 191, 255, 0.712) auto 1px;
}

#div-form-login form button {
    font-size: 1rem;
    cursor: pointer;
}